---
layout: default
---

<div id="glossary">

<ul class="list" style="list-style-type: none">
  {% for p in collections.terms %}
  <li>
  
  <div class="card mb-2">
  <div class="card-header">
    <div class="card-title h5"><a name="{{p.data.slug}}" class="title">{{p.data.title}}</a></div>
    <div class="card-subtitle text-gray">
	  {%if p.data.seeAlso %}
	  See also:
		 {% for term in p.data.seeAlso %}
		<a href="#{{ collections.terms | getSlugForTitle(term) }}" class="btn btn-primary btn-sm">{{term}}</a>
		 {% endfor %}
	{% endif %}  	
	</div>
  </div>
  <div class="card-body">
    {{p.data.definition}}
  </div>
  <div class="card-footer">
    {%if p.data.hasExtraContent %}
  <a href="../terms/{{p.data.extraContentSlug}}" class="btn">Find out more...</a>
  {% endif %}  
  </div>
</div>




  </li>  {% endfor %}
</ul>

</div>

